server:
  port: 9000
eureka:
  instance:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    # 访问路径可以显示IP
    prefer-ip-address: true
    # 自定义instance-id
    instance-id: ${spring.application.name}:${server.port}



spring:
  application:
    name: zuul-api-gateway
  redis:
    host: www.limaila.com
    port: 8379


zuul:
  routes:
    order-service: /apigateway/order/**
    product-service: /apigateway/product/**
  # 设置zuul 不过过滤请求头的敏感词  如 "Cookie", "Set-Cookie", "Authorization"
  sensitive-headers:
  #  忽略除了routes里面配置所有服务。
  #  ignored-services: /*-service/**
  ignored-services: '*'
  # 开启重试机制
  retryable: true
  host:
    # socket  timeot
    # connect timeot
    # 通过制定url的形式配置的超时时间
    socket-timeout-millis: 10000
    connect-timeout-millis: 2000


# ACL 访问控制列表
api:
  gateway:
    uris[0]:
      path: /apigateway/product/api/v1/product/get
      auth: true
      rate_num: 0
      rate_second: 100
    uris[1]:
      path: /apigateway/order
      auth: true


#hystrix全局超时配置
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            # hystrix默认超时时间为1秒,这里设置成6秒
            timeoutInMilliseconds: 5000
        timeout:
          # 开启hystrix超时机制
          enabled: true

#ribbon超时全局配置
ribbon:
  ReadTimeout: 5000
  SocketTimeout: 10000
  ConnectTimeout: 2000

#ribbon超时局部配置
product-service:
  ribbon:
    ReadTimeout: 5000
    ConnectTimeout: 2000