server:
  port: 9000
eureka:
  instance:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    # 访问路径可以显示IP
    prefer-ip-address: true
    # 自定义instance-id
    instance-id: ${spring.application.name}:${server.port}
spring:
  application:
    name: zuul-api-gateway
zuul:

  routes:
    order-service: /apigateway/order/**
    product-service: /apigateway/product/**
  # 设置zuul 不过过滤请求头的敏感词  如 "Cookie", "Set-Cookie", "Authorization"
  sensitive-headers:
  ignored-services: *
  #  忽略除了routes里面配置所有服务。
  #  ignored-services: /*-service/**


